# <center>**Python Introduction - 1**</center>
---

### **1. Primary Data Types**
- (integer, float, string, boolean)

### **2. Containers/Secondary Data Types**
- (list, dictionary, set, tuple)

### **3. General Operations**
- Type-casting
- Relational operators
- Logical operators
- Membership operators

### **4. Basic Programming Constructs**
- Conditional Statements
- Looping
- Functions


<br>

## **Basic tips**
---
**Mathematical operations (+, -, *, /, %)** can be used just like any programming language

**#** can be used for comments. Using this ahead of line with signal the compiler to not execute the line as a command

**print()** will print the value stored in the variable. You can also give multiple arguments to the print function seperated by commas.

**type()** will print the class of the variable
<br><br>

## **1. Primary Data Types**
---

In [ ]:
## Integer
price = 75000
print(price)
print(type(price))

In [ ]:
## Float
weight = 187.5
print(weight)
print(type(weight))

In [ ]:
## Boolean
sold = True
print(sold)
print(type(sold))

In [ ]:
## String
name = "Iphone 7 Plus"
print(name)
print(type(name))

<br><br><br>

## **2. Containers/Secondary Data Types**
---

### **List = [item1, item2, item3]**
#### A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. 
#### List is also resizeable and can contain elements of different types

In [ ]:
## Initilizing a list
my_list = [1,2,3,4,5]

print(my_list)

In [ ]:
## Accessing list item at a given position
my_list[2]

In [ ]:
l= [0,2.4,'string',True]
print(type(l))
print(l)

In [ ]:
l.count(2)

In [ ]:
len(l)

**Note - Python indexing starts from 0**

### **Tuple = (value1, value2)**
#### A tuple is an (immutable) ordered list of values.

In [ ]:
my_tuple = (77.3,58.2)
print(my_tuple)

tup = 1, 2.453, "string", True
print(type(tup))
print(tup)

In [ ]:
##Slicing a tuple
tup[2:]

### **Dictionary = {key1:value1, key2:value2}**
#### A dictionary stores (key, value) pairs.

In [ ]:
# Create a new dictionary with some data
my_dict = {'cat': 'cute', 'dog': 'furry'} 
print(my_dict)

In [ ]:
type(my_dict)

In [ ]:
# Get the value corresponding to the key='cat'
my_dict['cat']

In [ ]:
#Get the number of key value pairs in a dictionary
len(my_dict)

In [ ]:
#Adding a new key value pair to the dictionary
my_dict['cow']='milk'

In [ ]:
#Adding a new key value pair to the dictionary
my_dict.update(DesiCow = 'goodmilk')

In [ ]:
#Print the elements of the dictionary
print(my_dict)

In [ ]:
##Write code to add a 'humans' : 'ego' key value pair to the dictionary

<br><br><br>
## **3. General Operations**
---

### A) Explicit data-type conversion (type-casting)

In [ ]:
apple = 40
banana = '5'
print(apple)
print(banana)

In [ ]:
apple+banana

**Note - The above error is because we are performing an incompatible operation. i.e. adding an integer to string.**

**In such scenarios we type-cast (change the data type) of the variable into appropriate type**

In [ ]:
## Converting value of banana (previously string) into integer
banana = int(banana)

apple + banana

### B) Relational Operators (returns a boolean after evaluating the expression)

In [ ]:
print("10 == 10", 10 == 10)  # Equal to comparision
print("10 != 20", 10 != 20)  # Not equal to comparision
print("10 > 10", 10 > 10)    # Greater than
print("10 < 20", 10 < 20)    # Smaller than
print("10 <= 10", 10 <= 10)  # Smaller OR Equal to

### C) Logical Operations (returns a boolean after evaluating the expression)
**Logical operations usually make sense with boolean variables**

In [ ]:
t = True
f = False

In [ ]:
## OR
print(t or f)
print(t or t)
print(f or t)
print(f or f)

In [ ]:
## AND
print(t and f)
print(t and t)
print(f and t)
print(f and f)

### D) Membership operator

In [ ]:
my_list = ["R","Python","SQL"]

'R' in my_list

<br><br>
## **4. Basic Programming Constructs**

---

### **A) Conditional Statments**

In [ ]:
from IPython.display import Image
Image(filename='img/ifelse.png')

In [ ]:
passing_marks = 50
student_marks = 90

if (student_marks > passing_marks):
    print("Congrats! You passed the course")
else:
    print("Ahh! You failed")

### Activity 1 - Extend the if-else construct to incorporate excellence award check [excellence_criteria >= 70]

In [ ]:
marks = 75 #some number representing student's marks
passing_marks = 50
excellence_criteria = 70
student_marks = marks

### Your code here..

###

### **B) Functions**

In [ ]:
def area(l,b):
    total_area = l * b
    return total_area

In [ ]:
# Now you can use this function multiple times with different input values.
a1 = area(10,10)
print("Area =",a1)

### Activity 2 - Write a function that returns the object type (square/rectangle) along with area.
E.g. "Square area = 200"

Hint - Return a string

In [ ]:
def area(l,b):
    ### Your code here...
    
    ###
    
a2 = area(20,20)
print(a2)

a3 = area(10,40)
print(a3)

### **C) Looping Statements**

In [ ]:
looping_list = [1,2,3,4,5]

## Loop that returns square of each number in the list
for i in looping_list:
    print(i ** 2)

### Activity 3 - Write a function that takes a list as input and prints all even numbers

In [ ]:
def even(input_list):
   ### Your code here..

   ###
            
even([2,99,51,32,6,11,29,21])